.nav-overlay {
    background-color: #fff;
    opacity: 1;
    display: flex;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 40px #cccccc;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.text-overlay {
    padding: 12px;
}
.btn {
    cursor: pointer;
    color: var(--White-color);
    background: linear-gradient(45deg, red, blue);
    border: none;
    border-radius: 20px;
    border: 1px solid;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 45px;
    letter-spacing: 1px;
}
.loading {
    animation: spinner 1s infinite linear;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
@media (max-width: 740px) {
    .nav-overlay {
        width: 100%;
    }
}
