.content {
    min-height: 80vh;
    position: relative;
}
.content-container {
    width: 100%;
    margin: 0 !important;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content-box {
    padding: 8px;
}
.pagination {
    margin: 40px 0 20px 0 !important;
}
@media (max-width: 480px) {
    .content-box {
        max-width: 360px !important;
        margin: auto;
    }
}
.rc-pagination {
    display: flex;
    justify-content: center;
}
